<header class="sticky-top">
  <div class="header">
    <div>
      <%= link_to t('link.new'), new_task_path, class: 'btn new-btn' %>
    </div>
    <h1 class="title">タスク一覧</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse d-flex align-items-center">
      <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
    </div>
    <div class="navbar-collapse justify-content-end" id="Navber">
      <%= form_with url: tasks_path, method: :get, local: true, class: 'form-inline my-2 my-lg-0' do |f| %>
        <% @status_list.each do |status| %>
          <div class = 'status-btn mr-sm-2'>
            <%= f.check_box :statuses, { multiple: true, include_hidden: false, checked: params[:statuses].present? ? status.id.to_s.in?(params[:statuses]) : false }, status.id %>
            <%= f.label status.status, { for: 'statuses_' + status.id.to_s } %>
          </div>
        <% end %>
        <%= f.text_field :keyword, value: params[:keyword], class: 'form-control mr-sm-2', placeholder: 'タスク名で検索' %>
        <%= f.hidden_field :sort, value: params[:sort] %>
        <%= f.hidden_field :direction, value: params[:direction] %>
        <%= f.submit '検索', class: 'btn btn-outline-success my-2 my-sm-0' %>   
      <% end %>
    </div>
  </nav>  
</header>

<section class="list-wrap">  
  <table class="table">
    <thead>
      <tr>
        <th class="text-primary"><%= Task.human_attribute_name(:id) %></th>
        <th class="text-primary"><%= Task.human_attribute_name(:status) %></th>
        <th class="text-primary"><%= Task.human_attribute_name(:priority) %></th>
        <th class="text-primary"><%= Task.human_attribute_name(:label) %></th>
        <th class="text-primary"><%= Task.human_attribute_name(:task_name) %></th>
        <th class="text-primary">
          <%= sort_order 'limit_date', Task.human_attribute_name(:limit_date) %>
          <%= image_tag 'sort_icon', class: 'icon-size' %>
        </th>
        <th class="text-primary"><%= Task.human_attribute_name(:detail) %></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr class="list-item-wrap">
          <td class="list-item"><%= task.id %></td>
          <td class="list-item"><%= task.status.status %></td>
          <td class="list-item"><%= task.priority.priority %></td>
          <td class="list-item"><%= task.label %></td>
          <td class="list-item"><%= task.task_name %></td>
          <td class="list-item">
            <% if task.limit_date != nil %>
              <%= l task.limit_date %>
            <% end %>
          </td>
          <td class="list-item"><%= task.detail %></td>
          <td><%= link_to t('link.show'), task, class: 'btn default-btn' %></td>
          <td><%= link_to t('link.edit'), edit_task_path(task), class: 'btn default-btn' %></td>
          <td><%= link_to t('link.delete'), task, method: :delete, data: { confirm: t('confirm.delete') }, class: 'btn default-btn' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
